<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.blog.dao.ContentMapper">

    <resultMap id="article" type="pro.blog.dto.Article">
        <result property="id" column="id" javaType="String"/>
        <result property="content" column="content" typeHandler="pro.blog.config.mybatis.ListTypeHandler"/>
    </resultMap>

    <select id="getContext" resultMap="article" parameterType="int">
        SELECT *
        FROM ARTICLE
        WHERE articleid = #{id}
    </select>

</mapper>
