<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.blog.dao.ContentMapper">

    <resultMap id="article" type="pro.blog.dto.Article">
        <id property="id" column="articleid"/>
        <collection property="content" column="content"/>
    </resultMap>

    <select id="getContext" resultMap="article">
        SELECT *
        FROM ARTICLE
        WHERE articleid = #{id}
    </select>

</mapper>
